<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magenest_Movie::movie_menu" title="Movie Menu" module="Magenest_Movie" sortOrder="51" resource="Magenest_Movie::config_movie"/>
        <add id="Magenest_Movie::section" title="Movie Section" module="Magenest_Movie" sortOrder="10" parent="Magenest_Movie::movie_menu" resource="Magenest_Movie::section"/>
        <add id="Magenest_Movie::actor" title="Actor" module="Magenest_Movie" sortOrder="20" action="movie/showactor" parent="Magenest_Movie::section" resource="Magenest_Movie::detail"/>
        <add id="Magenest_Movie::director" title="Director" module="Magenest_Movie" sortOrder="30" action="movie/showdirector" parent="Magenest_Movie::section" resource="Magenest_Movie::detail"/>
        <add id="Magenest_Movie::movie" title="Movie" module="Magenest_Movie" sortOrder="40" action="movie/showmovie" parent="Magenest_Movie::section" resource="Magenest_Movie::detail"/>
        <add id="Magenest_Movie::endofthetest" title="End of the Test" module="Magenest_Movie" sortOrder="10" parent="Magenest_Movie::movie_menu" resource="Magenest_Movie::section"/>
        <add id="Magenest_Movie::EotT" title="End of the Test Page" module="Magenest_Movie" sortOrder="40" action="movie/endofthetest" parent="Magenest_Movie::endofthetest" resource="Magenest_Movie::detail"/>
    </menu>
</config>